<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.xhl.visibility.Mapper.SettingMapper">
    <select id="getSetting" parameterType="String" resultType="String">
        select value from settings where name = #{key}
    </select>
    <update id="setSetting" parameterType="String">
        update settings set value = #{value} where name = #{key}
    </update>
</mapper>